@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Poppins-Regula", Arial;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

li {
  list-style-type: none;
  /* Убираем маркеры */
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------------------------*/
body {
  background: #e5e5e5;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

a {
  color: #000;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

main {
  flex: 1 0 auto;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}

.menu__items {
  display: flex;
  justify-content: center;
  padding: 16px 0;
}
.menu__item {
  margin-right: 30px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item a {
  color: #333333;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo__brend {
  color: #66c05d;
  margin-left: 30px;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.btn {
  padding: 13px 26px;
  border-radius: 40px;
  border: 2px solid #66c05d;
  min-width: 170px;
}
.btn:hover {
  color: #66c05d;
  background: #efefef;
}
.btn_more {
  color: #fff;
  background-color: #66c05d;
  border: 2px solid #fff;
  transition: all 0.3s;
}

.cotacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cotacts__phone {
  margin-right: 40px;
  font-size: 16px;
}

.white {
  background-color: #fff;
}

.header hr {
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
}
.header__center {
  background: #ffffff;
}
.header__center-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__categories-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
.header__category {
  margin-right: 40px;
  font-size: 16px;
}
.header__category:last-child {
  margin-right: 0;
}

.banner {
  position: relative;
  z-index: 10;
  overflow: hidden;
  background-color: #66c05d;
}
.banner__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner__content {
  max-width: 310px;
  color: #fff;
}
.banner__title {
  margin-bottom: 50px;
  font-size: 48px;
  font-weight: 700;
}
.banner__text {
  line-height: 20px;
  margin-bottom: 50px;
}
.banner__picture {
  position: relative;
}
.banner__picture::before {
  content: "";
  position: absolute;
  top: -20px;
  right: -50px;
  border-radius: 100%;
  width: 680px;
  height: 677px;
  background: rgba(255, 255, 255, 0.4);
  z-index: -2;
}
.banner__picture::after {
  content: "";
  position: absolute;
  top: -110px;
  right: -135px;
  border-radius: 100%;
  width: 860px;
  height: 860px;
  background: rgba(255, 255, 255, 0.4);
  z-index: -2;
}
.banner__image {
  width: 100%;
}

.catalog {
  padding-top: 70px;
  margin-bottom: 100px;
}
.catalog__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 40px;
}
.catalog__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.catalog__item {
  max-width: 255px;
}

.product-card {
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-card__img {
  padding-top: 25px;
}
.product-card__text {
  max-width: 200px;
  margin: 20px 0;
  text-align: center;
  font-family: Roboto;
  line-height: 20px;
}
.product-card__price {
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}
.product-card__btn {
  margin-bottom: 25px;
  padding: 9px 40px;
  border-radius: 30px;
  min-width: 130px;
  background-color: #66c05d;
  color: #fff;
  transition: all 0.3s;
}
.product-card__btn:hover {
  color: #66c05d;
  background: #efefef;
}

.offers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  margin-bottom: 130px;
}
.offers__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #66c05d;
  color: #fff;
}
.offers__content {
  padding: 35px 10px 35px 40px;
}
.offers__title {
  font-weight: 700;
  font-size: 18px;
}
.offers__text {
  margin: 25px 0px;
  line-height: 20px;
}
.offers__input input {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 9px 25px;
  font-family: inherit;
  color: #000;
  background-color: #fff;
  border-radius: 30px;
}
.offers__input input::placeholder {
  color: #c4c4c4;
}
.offers__img {
  margin: 36px 40px;
}

.footer__main {
  padding: 50px 0;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__icons {
  display: flex;
}
.footer__icon {
  margin-right: 20px;
}
.footer__icon:last-child {
  margin-right: 0;
}
.footer__link {
  padding: 15px;
  display: inline-block;
  border: 2px solid #66c05d;
  border-radius: 100%;
  width: 100%;
}
.footer__link img {
  width: 25px;
  height: 25px;
}
.footer__buttom {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}
.footer__text {
  color: #828282;
  font-size: 12px;
}